<div class="table-responsive" style="height: 400px">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>              
          <th style="width: 35%">Nome</th>
          <th style="width: 20%">Calorias</th>
          <th style="width: 15%">Proteínas</th>
          <th style="width: 15%">Gorduras Totais</th>
          <th style="width: 15%">Carboidrados</th>              
        </tr>
      </thead>
      <tbody id="table-body">  
        <% if(alimentos.length > 0 ){ %> 
          <% alimentos.forEach(a =>{ %>
            <tr>
              <td> <%= a[0] %> </td>
              <td> <%= a[1].Calorias %> </td>
              <td> <%= a[1].Proteinas %> </td>
              <td> <%= a[1].Carboidratos %> </td>
              <td> <%= a[1]['Gorduras Totais'] %> </td>
            </tr>
          <% }) %>
        <% } %>        
      </tbody>
    </table>
</div>